@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Plus+Jakarta+Sans:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #7a746e;
  text-align: center;
  transition: 1s ease-in;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #030303;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 70px;
}

h2 {
  font-size: 40px;
  line-height: 51px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff7f0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.cta {
  padding: 14px 45px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  line-height: 28px;
}

header {
  position: absolute;
  top: 0;
  height: 98px;
  width: 100%;
}

header .container {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  font-family: "Montserrat", sans-serif;
  color: #030303;
  font-size: 30px;
}
header .container .cta {
  background-color: #030303;
}
header .container .cta:hover {
  background-color: #755cde;
}

@media screen and (max-width: 720px) {
  header {
    height: 64px;
  }
  header .cta {
    font-size: 14px;
    line-height: 28px;
    padding: 8px 27px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  header .container {
    width: 343px;
    margin-top: 16px;
  }
  header .container .logo {
    font-size: 20px;
  }
}
main {
  padding: 98px 0 128px 0;
}

.hero .hero-content {
  margin-top: 66px;
}
.hero .hero-content p {
  margin: 23px auto 80px auto;
  max-width: 54ch;
}

.hero-banner {
  display: grid;
  grid-template-areas: "g g u a p p" "g g i i m m";
  gap: 24px;
  row-gap: 24px;
  grid-template-rows: repeat(2, 182px);
  grid-template-columns: repeat(6, 164px);
  color: #fff7f0;
  font-size: 24px;
  font-weight: 500;
}

.banner {
  border-radius: 5px;
  display: flex;
}
.banner p {
  align-self: flex-end;
  margin: 0 0 24px 24px;
}

.graphic {
  grid-area: g;
  background-color: #755cde;
  background-image: url("./assets/pattern-graphic-design.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 24px;
}

.uiux {
  grid-area: u;
  background-color: #f6a560;
  background-image: url("./assets/pattern-ui-ux.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 24px;
}

.apps {
  grid-area: a;
  background-color: #f39e9e;
  background-image: url("./assets/pattern-apps.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 24px;
}

.photography {
  grid-area: p;
  background-color: #61c4b7;
  background-image: url("./assets/pattern-photography.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 24px;
}

.illustrations {
  grid-area: i;
  background-color: #eb7565;
  background-image: url("./assets/pattern-illustrations.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 24px;
}

.motion {
  grid-area: m;
  background-color: #552049;
  background-image: url("./assets/pattern-motion-graphics.svg");
  background-repeat: no-repeat;
  background-position: top 24px right 24px;
}

@media screen and (max-width: 1150px) {
  .container {
    width: 690px;
  }
  .hero-content h1 {
    font-size: 44px;
  }
  .hero .hero-content p {
    margin: 10px auto 64px auto;
  }
  .hero-banner {
    grid-template-areas: "g g u a" "g g i i" "p p m m";
    grid-template-rows: repeat(3, 182px);
    grid-template-columns: repeat(4, 155px);
  }
}
@media screen and (max-width: 720px) {
  main {
    padding: 64px 0 120px 0;
  }
  .hero .hero-content {
    margin-top: 32px;
  }
  .hero .hero-content h1 {
    font-size: 36px;
  }
  .hero .hero-content p {
    margin: 6px auto 32px auto;
  }
  .container {
    width: 343px;
  }
  .hero-banner {
    grid-template-areas: "g g" "u a" "i i" "p p" "m m";
    grid-template-rows: repeat(6, 182px);
    grid-template-columns: repeat(2, 159px);
  }
}
.intro {
  margin: 136px auto 88px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro img {
  margin-right: 125px;
}

.intro-content {
  text-align: left;
}
.intro-content p {
  margin: 34px 0 32px 0;
}
.intro-content a {
  background-color: #eb7565;
}
.intro-content a:hover {
  background-color: #f6a560;
}

@media screen and (max-width: 1150px) {
  .intro {
    width: 690px;
  }
  .intro img {
    width: 50%;
    margin-right: 20px;
    left: -44px;
    position: relative;
  }
  .intro-content {
    width: 50%;
  }
  .intro-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .intro-content p {
    margin: 27px 0;
  }
}
@media screen and (max-width: 720px) {
  .intro {
    flex-direction: column;
    margin: -100px auto 100px auto;
    width: 343px;
  }
  .intro img {
    margin: 0 0 40px 0;
    left: 0;
    width: 80%;
  }
  .intro-content {
    width: 100%;
    text-align: center;
  }
  .intro-content h2 {
    font-size: 26px;
  }
  .intro-content p {
    margin: 24px 0;
  }
  .intro .cta {
    padding: 8px 27px;
    font-size: 14px;
    line-height: 28px;
  }
}
.work {
  position: relative;
  padding-bottom: 88px;
  overflow: hidden;
}
.work p {
  max-width: 40ch;
  margin: 27px auto;
}

.swiper {
  margin: 56px auto;
  width: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 360px;
}

.swiper-slide img {
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  display: inline;
  border-radius: 100px;
  background-color: #030303;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #755cde;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  margin-right: 40px;
  padding: 24px 25px;
}

.swiper-button-next {
  padding: 24px 26px;
}

@media screen and (max-width: 720px) {
  .work h3 {
    font-size: 24px;
  }
  .work p {
    width: 343px;
    margin: 24px auto 32px auto;
  }
  .swiper-slide {
    height: 180px;
  }
}
#contact .container {
  padding: 80px 65px;
  background-color: #030303;
  display: flex;
  color: #fff7f0;
  border-radius: 5px;
}

.contact-content {
  width: 40%;
}

.contact-form {
  width: 50%;
}

.contact-content {
  margin-right: 90px;
  text-align: left;
}
.contact-content h2 {
  margin-bottom: 25px;
  color: #fff7f0;
}

.contact-form input,
textarea {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  padding: 0 0 17px 24px;
  border: none;
  border-bottom: 1px solid #fff7f0;
  background-color: rgba(3, 3, 3, 0);
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff7f0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.22px;
  border-radius: 0px;
}

textarea:focus, input:focus {
  color: #fff7f0;
  outline: none;
}

input, select, textarea {
  color: #fff7f0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #030303 inset !important;
  -webkit-text-fill-color: #fff7f0 !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  background-clip: content-box !important;
}

.contact-form .cta {
  width: auto;
  float: right;
  cursor: pointer;
  background-color: #eb7565;
  padding: 14px 45px;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  font-size: 16px;
}
.contact-form .cta:hover {
  background-color: #f6a560;
}

@media screen and (max-width: 1150px) {
  #contact .container {
    padding: 56px 0 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-content,
.contact-form {
    width: 70%;
    text-align: center;
  }
  .contact-content {
    margin-right: 0;
  }
  .contact-content h2 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }
  .contact-content p {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 720px) {
  #contact .container {
    padding: 49px 24px;
  }
  #contact h2 {
    font-size: 26px;
    line-height: auto;
  }
  #contact p {
    margin: 24px 0;
  }
  #contact .cta {
    padding: 8px 27px;
    font-size: 14px;
    line-height: 28px;
  }
  .contact-content,
.contact-form {
    width: 100%;
  }
}
footer {
  height: 128px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
footer .container p {
  font-size: 16px;
}

@media screen and (max-width: 720px) {
  footer {
    height: 120px;
  }
  footer .container {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 30px;
  }
  footer .container p {
    width: 100%;
    font-size: 14px;
    margin-top: 8px;
  }
}
.thank-you {
  text-align: center;
  padding: 98px 0 128px 0;
}
.thank-you h1 {
  margin-top: 66px;
}
.thank-you p {
  margin: 25px 0 50px 0;
}
.thank-you .cta {
  background-color: #eb7565;
}
.thank-you .cta:hover {
  background-color: #f6a560;
}

@media screen and (max-width: 720px) {
  .thank-you h1 {
    font-size: 40px;
    margin-top: 32px;
  }
  .thank-you p {
    width: 343px;
    margin: 10px auto 40px auto;
  }
}/*# sourceMappingURL=style.css.map */